body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 50vh;
}


#table {
    opacity: 0;
    transition: ease-in;
    transition-duration: 100ms;
}
